{% extends 'base.html' %}

{% block title %}Home | Atlas Technology{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <h5>Filters</h5>
        <input type="text" class="form-control mb-3" placeholder="Keywords">
        <div>
            <h6>Color</h6>
            <div><input type="checkbox" id="color1"> Black</div>
            <div><input type="checkbox" id="color2"> Red</div>
            <div><input type="checkbox" id="color1"> Yellow</div>
            <div><input type="checkbox" id="color2"> Orange</div>
            <h6>Price</h6>
            <div><input type="checkbox" id="size1"> example for now</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card p-3">
                    <img src="placeholder.jpg" class="card-img-top" alt="Product">
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">$400</p>
                        <button class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3 p-3 bg-white border rounded">
        <h5>Cart</h5>
        <div id="cart-items"></div>
        <hr>
        <p>Subtotal: $<span id="subtotal">0</span></p>
        <a href={% url "checkout"%}><button class="btn btn-success">Proceed to Checkout</button></a>
    </div>
</div>
{% endblock %}