{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detail }} | Atlas Technology{% endblock %}

{% block content %}


<div class="col-md-6">
    <div class="row g-3">
        {% for product in productsbycategory %}
        <div class="col-md-4">
            <div class="card p-3">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">€{{ product.price }}</p>
                    <button class="btn btn-primary w-100">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}