{% extends 'base.html' %}
{% load static %}

{% block title %}{{ detail }} | Atlas Technology{% endblock %}

{% block content %}

{% if productsbycategory %}
<div class="product-grid">
    {% for product in productsbycategory %}
        <div class="product-card">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>€{{ product.price }}</p>
        </div>
    {% endfor %}
{% else %}
    <h4>There are no products in this category.</h4>
{% endif %}

</div>
{% endblock %}